html,body,p,ul,li,div,input{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 62.5%;
	line-height:1;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: #f5f5f5;
}
.clearfix::after{
	display: block;
	height:0;
	content: "";
	clear:both;
}
/*app*/
.app{
	margin:1rem;
	padding:1rem;
	/*background-color: red;*/
	border-radius: 1rem;
	box-shadow: 0 5px 10px rgba(0,0,0,.15);
	background:#fff;
}
.appBox{
	position: relative;
}
.appIcon,.appWord{
	float: left;
}
.appIcon img{
	width: 50px;
}
.appWord{
	padding:10px 32px;
}
.appWord p:nth-of-type(1){
	line-height: 1rem;
	margin-top: .125rem;
}
.appWord p:nth-of-type(2){
	color: #9c9fa1;
	line-height: 1rem;
	margin-top: .56rem;
}
.appDown{
	line-height: 2rem;
	width: 5rem;
	background-color: #00ae66;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -1rem;
}
/*header*/
.header{
	height: 20rem;
	/*line-height: 14rem;*/
	background:url(../images/bc.jpg);
	background-size: cover;
	color:#fff;
	position: relative;
}
.header > div{
	position: absolute;
}
.headerAdvertise{
	background: rgba(0,0,0,.5);
	border-radius: 20px;
	color:#fff;
	top: 1rem;
	left: 1rem;
	padding:5px 10px;
}
.headerMine{
	top: 1rem;
	right: 1rem;
}
.headSearch{
	/*margin:1rem;*/
	/*margin-right: 100px;*/
	box-sizing:border-box;
	width: 95%;
	right: 2.5%;
	bottom:1rem;
	height: 3rem;
	background: #fff;
	padding: 0.5rem;
}
input{outline:none} 
.headSearch i{
	z-index: 1;
	color:#000;
	margin: 0 .5rem;
}
.headSearch input{
	border:none;
	line-height: 2rem;
}
.word{
	position: absolute;
    width: 15.625rem;
    height: 3.875rem;
    background: url(../images/head_slogan.png) center center no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 110%;
    font-size: 0;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*分类*/
.classification{
	padding:10px 5px 20px 20px;
	background: #fff;
}
.everyClass{
	display: inline-block;
	float: left;
	text-align: center;
	width: 24%;
	margin: 0 auto ;
}
.everyClass div{
	margin: 0 auto;
	width: 4rem;
	height: 4rem;
	border-radius: 2.5rem;
	background-image: url(../images/sprite.svg);
	background-position: 4.3rem -12.6rem;
	line-height: 4rem;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
	background-size: 115%;
}
.everyClass ul li
/*广告*/
.banner{
	margin-top: 1rem;
}
.banner img{
	width: 100%;
}
/*工具*/
.tool{
	background: #fff;
}
.tool h1,.recommend h1{
	line-height: 3rem;
	font-size: 1rem;
	font-weight: 600;
	padding-left: 20px;
	border-bottom: 1px solid #000;
}
.everyTool{
	width: 19%;
	display: inline-block;	
	text-align: center;
	margin-bottom: 1rem;
}
/*房源*/
.recommend{
	margin-top: 24px;
	padding-left: 20px;
	background: #fff;
}
.house{
	position: relative;
	padding:20px 20px 20px 0;
	border-bottom: 1px solid #ddd;
}
.house > div{
	display: inline-block;
}
.housePic{
	width: 10rem;
	height: 6rem;
}
.housePic img{
	width: 100%;
}
.houseIntroduce{
	position: absolute;
	left: 11rem;
}
.houseIntroduce > p{
	margin-bottom: .5rem;
}
.houseIntroduce p:nth-of-type(1){
	font-size: 1.5rem;
	    width: 13rem;
}
.houseIntroduce p:nth-of-type(2){
	font-size: 1.2rem;
	color:#8b8b8b;
	width: 13rem;
	overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.houseIntroduce p:nth-of-type(3) em{
	margin-right: 10px;
	color: red;
}
.houseIntroduce p:nth-of-type(4) span:nth-of-type(1){
	color:rgb(89,171,253);background-color:rgba(89,171,253,0.15);
	/*background: #9c9fa1;*/
	display: inline-block;
	padding:0.5px 3px;
	margin: 0 2px;
}
.houseIntroduce p:nth-of-type(4) span:nth-of-type(2){
	color:rgb(242,161,47);background-color:rgba(242,161,47,0.15);
	/*background: #9c9fa1;*/
	display: inline-block;
	padding:0.5px 3px;
	margin: 0 2px;
}
/*尾部*/
.bottom{
	margin-top: 1rem;
	padding:0 1rem;
	background: #2f3130;
	color:#727373;
}
.bottomHead{
	line-height: 3rem;
	border-bottom: 1px solid #3e403f;
	font-size: 12px;
}
.bottomContent{
	padding:1rem 0 0;
}
.bottomContent > p > span{
	width: 45%;
	margin:0 2.5%;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	background: #fff;
	padding:3px 0;
}
.bottomContent ul{
	padding:1rem 0;
}
.bottomContent ul li{
	list-style: disc;
	width: 30%;
	display: inline-block;
	text-align: center;
	line-height: 2rem;
}
.bottomfoot p{
	text-align: right;
	line-height: 1.5rem;
}
/*选择城市*/
.chooseCity{
	position: fixed;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}
.choose,.thisCity,.city>ul>li{
	padding-left: 1rem;
	line-height: 3rem;
	background: #fff;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
}
.choose{
	position: relative;
	text-align: center;
}
.choose i{
	position: absolute;
	left: 1rem;
	font-size: 14px;
	top: 1rem;
}
.chooseCity > p{
	line-height: 2rem;
	padding-left: 1rem;
}
.city>ul>li{
	border-bottom: 1px solid #000;
}
.everyClass{
